version: "3.9"
services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: "http://localhost:3000"
    environment:
      NODE_ENV: production
      PORT: "3001"
    ports:
      - "3001:3001"
